@media (max-width: 1268px) {
  /*  .sidebar,.sidebar-img{
        display: none;
    }
*/
    .container-home{
        width:100%
    }

    .img-close-sidebar{
        /*
        visibility: visible !important;
        */
    }
}
