


.carousel-item:nth-child(1) img {

    float:left;
    width: 500px !important;
    height:500px;

}

.carousel-item:nth-child(2) img {

    float:right;
    width: 500px !important;
    height:500px;

}
.carousel-item:nth-child(3) img {

    margin:auto;
    width: 500px !important;
    height:500px;

}
.carousel-item:nth-child(4) img {

    margin:auto;
    width: 500px !important;
    height:500px;

}
.carousel-item:nth-child(5) img {

    margin:auto;
    width: 500px !important;
    height:500px;

}
