.profil {

    margin:63px  0px;


    .profil-info {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0;
        background: white;
        flex-wrap:wrap;
        // align-items: center;


        .list-annonce{

            width:80%;
        }
       img {

           height: 140px;
           width: 140px;
           border-radius: 50%
       }

        h1,p {

            color:white;
            margin-top: 10px;

        }

        .millieu{
            background: beige;
            width: 57%;
            // padding-right: 15px;

            .publication{

            }

            h1{
                color: #333;
            }
            .entete{
                display: flex;
                flex-direction: column;
                background: #333;
                padding: 2px;
                p{
                    color: white;
                    margin: 0;
                }
                img {
                    width: 40px;
                    height: 40px;
                    margin-right: 10px;
                }
                .title{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    .aaa{
                        display: flex;
                        flex-direction: row;
                    }
                }
            }

            .corps {

                img{
                    border-radius: 0;
                    width: 100%;
                    height: 300px;
                }
            }
            .pied{
                background: #333 ;
                height: 35px;
                margin-bottom: 20px;
                .like-iframe-icon{
                    float: left;
                }
                .nbre-vue{
                    float: right;
                }
            }

        }
        .gauche{
            background: #333;
            display: flex;
            flex-direction: column;
            width: 220px;

            .photo{
                margin: 2px auto;
                color: beige;
                font-family: sans-serif;
            }
            .infos{
                margin-left: 10px;
                p{
                    font-size: 20px;
                }
            }

        }
        .droite{
            background:beige;
            width: 220px;
            padding: 10px;


            img{
                width: 40px;
                height: 40px;
                margin-right: 13px;
            }
            .annonce{
                display: flex;
                flex-direction: row;
                margin: 0 0 15px;
            }
            h2{
                text-align: center;
                margin-bottom: 20px;
            }
            p{
                font-size: 17px;
                color: #333;
            }
        }
        .ligne {
            width: 100px;
        }
    }
}

