.home-service {
    display:flex;
    flex-direction: column;

    margin-top: 20px;
    margin-bottom: 20px;
    h1 {
        text-align: center;

    }


    .main-service {
        margin-top: 15px;
        display: flex;
        flex-wrap: wrap;


    }
}

@screen sm {
    .home-service {

        .card-service {
            margin:10px auto;
        }
    }
}

@screen md {
    .home-service {

        .card-service {
            margin:10px 49px 10px 0;
        }
    }
}
