.home-video {

    margin-top: 50px;



    min-height: 500px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;


    .text-home-video {


        ul {
            maring:20px;
            list-style:square;
        }
        ul li {

            margin-top: 10px;
        }
    }

    .video-home-video {


        display: flex;
        flex-direction: column;


        .leader-iframe {
            iframe {
                width: 100%;
                height:400px;

            }
        }

        .children-iframe {
            display: flex;
            flex-wrap: wrap;
            margin-top:15px;


            iframe {
                width: 32%;
                margin-right: 10px;
            }
        }


        .text-home-video {
            ul li {
                margin-top:8px;
            }
        }
    }
}


@screen sm {

    .home-video {

        flex-direction: column;

        .text-home-video {

            width: max-content;
            margin-bottom:15px;

        }

        .video-home-video {

            width: 100%;

        }
    }
}
@screen md {

    .home-video {

        flex-direction: row;


        .text-home-video {

            width: 40%;

        }

        .video-home-video {

            width: 60%;

        }
    }
}
