
.home-contact {

    margin-top: 90px;


.main-home-contact {

    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-bottom: 20px;
     p {
         font-size:18px;
     }
}
}
