.home-video {

    margin-top: 50px;



    min-height: 500px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;


    .text-home-video {

        width:40%;
        ul {
            maring:20px;
            list-style:square;
        }
        ul li {

            margin-top: 10px;
        }
    }

    .video-home-video {

        width:60%;
        display: flex;
        flex-direction: column;


        .leader-iframe {
            iframe {
                width: 100%;
                height:400px;

            }
        }

        .children-iframe {
            display: flex;
            flex-wrap: wrap;
            margin-top:15px;


            iframe {
                width: 32%;
                margin-right: 10px;
            }
        }


        .text-home-video {
            ul li {
                margin-top:8px;
            }
        }
    }
}
