.transparent-command-img{

    margin-bottom:200px;
    height: 400px;
}


.transparent-command-opacity{

    background-color:rgba(252, 252, 252,0.8);

    div:first-child{

        margin-top: 35px;
    }

}


.show-produit-to-buy{


    img{
        width:100%;

    }
}

.card-header , .card-body,.card{
    background-color:unset;
    border:none;
}
